<h1>Тестирование на базе МОУ МУК</h1>

{% if question %}
<p>{{ question }}</p>
    <form name="qa" action="/testing/test-{{ test.id }}/" method="post">
    {% csrf_token %}
    {% if answers %}
        {% for answer in answers %}
        <input name="answer" id="answer-{{ answer.order }}" type="radio" value="{{ answer.order }}">
        <label for="answer-{{ answer.order }}">{{ answer }}</label>
        {% endfor %}
        <input name="question" type="hidden" value="{{ question.order }}">
        <button type="submit">Далее</button>
{% endif %}
</form>
{% endif %}
