        <section class="main content">
        {% if testing_invite_message %}
        {% if current_test %}
            <p>Предмет: <b>{{ current_test.subject }}</b>.</p>
            <p>Название теста: <b>{{ current_test.name }}</b>.</p>
            {% if testing_time_limit %}
            <p>Время, отведенное на тестирование: <b>{{ testing_time_limit }}</b> минут.</p>
            {% endif %}
            <p>
                <a title="Начать тестирование" href="/testing/test-{{ current_test.id }}/">Начать тестирование</a>
            </p>
        {% endif %}
        {% else %}
        {% if current_question %}
            <h3>{{ current_question }}</h3>
            {% if current_question.image %}
                <img src="file://{{ current_question.image.url }}">
            {% endif %}
            <form name="qa" class="question_form" action="/testing/test-{{ current_test.id }}/next_question/" method="post">
            {% csrf_token %}
            {% if this_question_answers %}
                {% for answer in this_question_answers %}
                <input name="answer" class="radio" id="answer-{{ answer.order }}" type="radio" value="{{ answer.order }}">
                <label for="answer-{{ answer.order }}">{{ answer }}</label>
                {% endfor %}
                <input name="question" type="hidden" value="{{ current_question.order }}">
                <button type="submit">Далее</button>
            {% endif %}
        </form>
        {% else %}
        {% if testing_finished %}
            <h3>Тестирование окончено</h3>
            <p>Верных ответов: <b>{{ answered_correctly }}</b> из <b>{{ sizeof_test }}</b>. Набрано баллов: <b>{{ balls_summed }}</b></p></p>
        {% endif %}
        {% endif %}
        {% endif %}
        </section>
