        <footer>
            <span class="gpl">
                Powered by Sergey Levitin under <a href="http://www.gnu.org/copyleft/gpl.html" target="_blank">GNU General Public Licence</a>
            </span>
        </footer>
    </body>
</html>
