@import url(reset.css);

/* Common styles */
html {
    background: #88889f;
    font: normal 14px "Trebuchet MS"
}
body {
    position: relative;
    width: 100%;
    max-height: 100%;
    min-height: 900px;
    margin: 0 auto;
}
p {
    padding: 0.5em 0;
    line-height: 1.5;
}
/* Header styles */
header {
    width: 100%;
    height: 180px;
    border-bottom: 1px solid #999;
    margin-top: 40px;
    background: #00b8ff; /*url(../img/header.jpg) no-repeat; */
}
header h1 {
    font: normal 36px "Trebuchet MS";
    color: #fff;
    padding-top: 38px;
    margin-left: 110px;
    line-height: 1.5;
    text-shadow: 1px 2px 2px #fff;
}
header h2 {
    font: normal 24px "Trebuchet MS";
    color: #fff;
    margin-left: 110px;
    text-indent: 117px;
    line-height: 1.5;
    text-shadow: 1px 1px 1px #fff;
}
header a {
    text-decoration: none;
}
header form.search input {
    float: right;
    position: relative;
    top: -4em;
    right: 50px;
    border: 1px solid #999;
    border-radius: 2px;
    padding: 7px 10px 7px 28px;
    width: 95px;
    line-height: 22px;
    background: #f9f9f9 url('../img/search.png') no-repeat 5px 6px;
    font: normal 14px "Trebuchet MS", Arial, sans-serif;
    font: normal 14px Arial, Verdana, Tahona, sans-serif;
    -webkit-appearance: textfield;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
    color: #333;
}
header form.search input:focus {
    width: 15em;
    color: #333;
}
input::-webkit-input-placeholder {
    color: #999;
}
input:-moz-placeholder {
    color: #999;
}

/* Main nav styles */
nav.main {
    width: 100%;
    height: 40px;
    position: fixed;
    background: #333;
    top: 0;
    z-index: 9999;
}
nav.main ul {
    margin: 0 35px;
}
nav.main ul li {
    margin: 0 12px;
    float: left;
}
nav.main ul li a:link,
nav.main ul li a:visited {
    line-height: 40px;
    color: #fff;
    text-decoration: none;
}
nav.main ul li a:hover,
nav.main ul li a:focus,
nav.main ul li a:active {
    color: #f3db53;
    text-decoration: underline;
}

/* Dynamic menus styles */
section.dynamic-menu {
    display: none;
}
section.main-menu-marker {
    width: 18px;
    height: 14px;
    background: url(../img/main-menu-marker.png) no-repeat;
    margin: 0 auto;
}
nav.main ul li ul {
    position: absolute;
    margin: 0;
    padding: 20px 15px;
    display: block;
    width: 170px;
    background: #000;
    opacity: 0.85;
    border-radius: 2px;
}
nav.main ul li ul li {
    display: inline;
    line-height: 5px;
    min-height: 10px;
}
nav.main ul li ul li a {
    height: 10px;
    line-height: 16px;
}
/* Main content styles */
section.main.content {
    background: #fff;
    min-height: 1000px;
    padding: 25px 30px;
}

/* Questions styles*/
section.main.content h3 {
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 10px;
}
form.question_form label {
    display: block;
    text-indent: 5px;
    font-size: 16px;
    margin: 16px 0;
}
input.radio {
    float: left;
}
form button {    
    font: normal 16px "Trebuchet MS"; 
    background: #333;
    cursor: pointer;
    padding: 6px 25px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    border: none;
    margin-top: 15px;
}
form button:focus,
form button:active {
    background: black;
    color: #f3db53;
}
/* Footer Styles */
footer {
    width: 100%;
    height: 50px;
    background: #333;
    position: fixed;
    bottom: 0;
}
footer span.gpl {
    color: #fff;
    line-height: 50px;
    margin-left: 30px;
}
footer span.gpl a:link,
footer span.gpl a:visited {
    color: #f3db53;
    text-decoration: none;
}
footer span.gpl a:hover,
footer span.gpl a:focus,
footer span.gpl a:active {
    text-decoration: underline;
}
